<mat-card color="primary">
    <mat-card-header>
        <mat-card-title>Loan Information</mat-card-title>
        <mat-card-subtitle>*NO INFORMATION IS SAVED*</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="padding-top: 20px;">
            User input goes here
        </div>
    </mat-card-content>
    <div style="padding: 5px">
        <mat-divider></mat-divider>
    </div>
    <mat-card-actions>
        <button mat-button>SUBMIT</button>
    </mat-card-actions>
</mat-card>