<div #inputAndSummary style="display: flex;">
  <div style="width: 50%; display: flex; justify-content: right; padding: 10px; padding-right: 5px;">
    <app-user-info></app-user-info>
  </div>
  <div style="height: 100%; padding: 10px; padding-left: 5px;">
    <div style="height: 50%">
      <app-loan-summary></app-loan-summary>
    </div>
    <div style="padding-top: 10px; height: 50%;">
      <app-loan-graph></app-loan-graph>
    </div>
  </div>
</div>

<div #breakdown style="text-align: center; padding-top: 10px;">
  THIS IS THE BREAK DOWN OF THE LOAN
</div>